.card {
  text-align: center;
  border: 1px solid black;
  /* padding: 10px; */
  /* --aspect-ratio: 1/1; */

  &__top {
    /* padding: 10px; */
    display: flex;
    flex-direction: column;
    align-items: center;
  }

  &__symbol {
    margin: 0;
    font-size: 20px;
  }

  &__symbol {
    margin: 0;
    font-size: 20px;
  }

  &37 {
    grid-column-start: 3;
    grid-column-end: 4;
  }

  &37 {
    grid-column-start: 3;
    grid-column-end: 4;
  }

  &38 {
    grid-column-start: 5;
    grid-column-end: 6;
  }

  &46 {
    grid-column-start: 4;
    grid-column-end: 5;
  }

  &48 {
    grid-column-start: 1;
    grid-column-end: 6;
  }
}
