p {
  margin: 0;
  font-size: 20px;
}

.flex {
  display: flex;
}

.library {
  width: 90%;
  margin: 0 auto 50px;
  display: grid;
  grid-template-columns: repeat(5, minmax(50px, 150px));
  grid-gap: 10px;

  &__column {
    display: grid;
    grid-template-rows: repeat(12, 27px);
    grid-gap: 10px;
    line-height: 1.5;

    //EDIT STYLE TO BE THE SAME AS &__COLUMN
    &--dakuon {
      @extend .library__column;
      grid-template-rows: repeat(5, 27px);
    }
    &--handakuon {
      @extend .library__column;
      grid-template-rows: repeat(2, 27px);
    }
    &--yoon {
      @extend .library__column;
    }
  }

  &__column-item {
    text-align: center;
  }

  &__row {
    @extend .library;
    margin: 0 auto 10px;
    height: 27px;

    &--yoon {
      @extend .library__row;
      grid-template-columns: repeat(3, minmax(50px, 150px));
    }
  }

  &--yoon {
    @extend .library;
    grid-template-columns: repeat(3, minmax(50px, 150px));
  }
}
