.button-wrapper {
  display: flex;
  justify-content: center;
  margin-bottom: 100px;
}

.button {
  width: 100px;
  padding: 10px 20px;
  background: none;
  border: 1px solid black;
  text-align: center;
  text-decoration: none;
  color: $primary-text;
  cursor: pointer;

  &:first-child {
    margin-right: 60px;
  }
}

.back-button {
  margin-top: 40px;
  text-align: center;
  &:first-child {
    margin-right: 0;
  }

  &__container {
    display: flex;
    justify-content: center;
  }
}
