h1,
h2 {
  text-align: center;
  color: $primary-text;
}
p {
  color: $primary-text;
  margin: 0;
}

ul,
li {
  margin: 0;
  padding: 0;
}

body {
  margin: 0;
  font-family: -apple-system, BlinkMacSystemFont, Avenir Next, Avenir, Helvetica, sans-serif;
}
