.card {
  text-align: center;
  background: rgba(250, 250, 250, 1);
  border: 1.25px solid rgb(53, 49, 44);
  border-radius: 10px;
  padding: 10px 0;
  min-height: 82.6px;
  cursor: pointer;
  user-select: none;
}

.card__top {
  display: flex;
  flex-direction: column;
  align-items: center;
}

.card__symbol {
  font-size: 1.75rem;
  font-weight: 600;
  color: $japan-red;
  -webkit-text-stroke: 0.5px black;
}
.card__letter {
  margin-top: 10px;
  opacity: 0.6;
  font-size: 1rem;
}
.card37 {
  grid-column-start: 3;
  grid-column-end: 4;
}

.card38 {
  grid-column-start: 5;
  grid-column-end: 6;
}
.card45 {
  grid-column-start: 5;
  grid-column-end: 6;
}
.card46 {
  grid-column-start: 1;
  grid-column-end: 6;
}
