p {
  color: $primary-text;
  margin: 0;
}

.button {
  border: none;
  display: block;
  padding: 10px 20px;
  width: 85px;
  margin-bottom: 50px;
}
.card {
  text-align: center;
  border: 1px solid black;
  border-radius: 10px;
  padding: 10px 0;
}
.card__top {
  display: flex;
  flex-direction: column;
  align-items: center;
  cursor: pointer;
  user-select: none;
}

.card__symbol {
  font-size: 1.75rem;
  font-weight: 600;
}
.card__letter {
  margin-top: 10px;
  opacity: 0.6;
  font-size: 1rem;
}
.card37 {
  grid-column-start: 3;
  grid-column-end: 4;
}

.card38 {
  grid-column-start: 5;
  grid-column-end: 6;
}
.card45 {
  grid-column-start: 5;
  grid-column-end: 6;
}
.card46 {
  grid-column-start: 1;
  grid-column-end: 6;
}
