.flex {
  display: flex;
}
.library {
  width: 90%;
  margin: 0 auto 50px;
  display: grid;
  grid-template-columns: repeat(5, minmax(50px, 150px));
  grid-gap: 10px;
}
.library__column {
  display: grid;
  grid-template-rows: repeat(12, 50px);
  height: 50px;
  grid-gap: 10px;
  line-height: 2.25;
}
.library__column--dakuon {
  display: grid;
  grid-gap: 10px;
  line-height: 2.25;
  height: 50px;
  grid-template-rows: repeat(5, 50px);
}
.library__column--handakuon {
  display: grid;
  grid-gap: 10px;
  line-height: 2.25;
  height: 50px;
  grid-template-rows: repeat(2, 50px);
}
.library__column--yoon {
  display: grid;
  grid-template-rows: repeat(12, 50px);
  grid-gap: 10px;
  height: 50px;
  line-height: 2.25;
}

.library__column-item {
  text-align: center;
  display: flex;
  justify-content: center;
  align-items: center;
}

.library__row {
  width: 90%;
  display: grid;
  grid-template-columns: repeat(5, minmax(50px, 150px));
  grid-gap: 10px;
  margin: 0 auto 10px;
  height: 50px;
}
.library__row--yoon {
  width: 90%;
  display: grid;
  grid-gap: 10px;
  margin: 0 auto 10px;
  height: 50px;
  grid-template-columns: repeat(3, minmax(50px, 150px));
}

.library--yoon {
  width: 90%;
  margin: 0 auto 50px;
  display: grid;
  grid-gap: 10px;
  grid-template-columns: repeat(3, minmax(50px, 150px));
}
