.flex {
  display: flex;
  justify-content: center;
  padding: 0 20px;
}

.library {
  @extend %library-base;
  grid-template-columns: repeat(5, minmax(50px, 100px));

  &--yoon {
    @extend %library-base;
    grid-template-columns: repeat(3, minmax(50px, 100px));
  }

  &__column {
    @extend %library-column-base;
    grid-template-rows: 25px repeat(11, 82.6px);
  }

  &__column--dakuon {
    @extend %library-column-base;
    grid-template-rows: 25px repeat(5, 82.6px);
  }

  &__column--yoon {
    @extend %library-column-base;
    grid-template-rows: 25px repeat(11, 82.6px);
  }

  &__column-item {
    text-align: center;
    display: flex;
    justify-content: center;
    align-items: center;
    font-size: 1.25rem;
    min-width: 17px;
  }

  &__row {
    @extend %library-row-base;
    grid-template-columns: repeat(5, minmax(50px, 100px));

    &--yoon {
      @extend %library-row-base;
      grid-template-columns: repeat(3, minmax(50px, 100px));
    }
  }
}
