.flex {
  display: flex;
  justify-content: center;
}

.library {
  @extend %library-base;
  grid-template-columns: repeat(5, minmax(50px, 100px));

  &--yoon {
    @extend %library-base;
    grid-template-columns: repeat(3, minmax(50px, 100px));
  }

  &__column {
    @extend %library-column-base;
    grid-template-rows: 25px repeat(11, 82.6px);
  }

  &__column--dakuon {
    @extend %library-column-base;
    grid-template-rows: 25px repeat(4, 82.6px);
  }

  &__column--handakuon {
    @extend %library-column-base;
    grid-template-rows: 25px repeat(1, 82.6px);
  }

  &__column--yoon {
    @extend %library-column-base;
    grid-template-rows: 25px repeat(11, 82.6px);
  }

  &__column-item {
    text-align: center;
    display: flex;
    justify-content: center;
    align-items: center;
  }

  &__row {
    @extend %library-row-base;
    grid-template-columns: repeat(5, minmax(50px, 100px));

    &--yoon {
      @extend %library-row-base;
      grid-template-columns: repeat(3, minmax(50px, 100px));
    }
  }
}
